label {
    color: $ryalto-darker-blue;
    font-size: 14px;
}

input {
    width: 100%;
    border-radius: 0.25rem;
    color: $ryalto-blue;
    border-radius: 6px;
    border: 1px solid $ryalto-darker-blue;
    font-size: 12px;
    padding: 5px;
}

textarea {
    width: 100%;
    border-radius: 0.25rem;
    color: $ryalto-blue;
    border-radius: 6px;
    border: 1px solid $ryalto-darker-blue;
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}
  
select {
    padding: 9px 13px;
    width: 100%;
    color: $ryalto-blue;
    border-radius: 6px;
    border: 1px solid $ryalto-darker-blue;
    font-size: 12px;
    padding: 5px;
}

i {
    color: $ryalto-blue;
    padding: 10px;
}

p, a {
    font-size: 12px;
}

.survey-page-container {
    padding: 5px 20px 0 20px;
    .survey-heading-container {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .form-container {
        align-self: left;
    }
    .require-answer-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            width: 50%;
        }
    }
}

#close-icon {
    color: black;
}

#question_answer_options {
    display: inline;
}

