<tr id= "survey_<%= survey.id %>">

  <td class="pl-2">
      <%= survey.name %>
  </td>

  <td>
    <%= link_to "Take survey", new_survey_attempt_path(survey) %>
  </td>

  <td>
    <%= survey.duration.strftime("%d %b %Y") %>
    <%# y = survey.created_at %>
    <%#= y.strftime("%d %b %Y") %>
  </td>

</tr>

