<div class="container content-wrapper">

  <div class="content">
    
    <%#= image_tag 'top-panel.png' %>
    
    <div class="content-body">
      <div class="survey-heading">
        <h4>Your surveys</h4>
        <%= image_tag 'survey-icon', id:"survey-icon"%>
      </div>
      
      <table class="custom-table">
        <thead>
          <tr class="border-bottom">
            <th class="pl-2">Survey</th>
            <th>Actions</th>
            <th>Closing date</th>
            <%# <th colspan="3"></th> %>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "survey", collection: @surveys %>
        </tbody>
      </table>

      <% if defined?(Kaminari) %>
        <%= paginate @surveys %>
      <% end %>
      <br>
      
    </div>

  </div>
  
</div>
