<div class="container content-wrapper">

  <div id='left-panel'>
  </div>

  <div class="content">
      
      <%= image_tag 'top-panel.png' %>

      <div class="content-body">

        <%= render partial: 'form', locals: {survey: @survey} %>
        <hr>
        <%= link_to "Back to surveys", surveys_path %>

      </div>

  </div>

</div>